/* normalizing */
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  width: 100dvw;
  height: 100dvh;
}

body {
  margin: 0;
}

h1,
p {
  margin: 0;
  text-box: trim-both cap text;
}

/* colors */
:root {
  --bg-dark: #191919;
  --bg-node: #101010;
  --text-main: #c2ebb1;
}

/* general prupose classes */

.text-center {
  text-align: center;
}

/* alright let's get this bread */

body {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: auto;

  background-color: var(--bg-dark);
  color: var(--text-main);

  font-family: "Google Sans Flex", sans-serif;
}

#background {
  position: fixed;
  top: 0;
  left: 0;

  opacity: 0.7;
}

#main-container {
  min-width: 100%;
  min-height: 100%;

  backdrop-filter: blur(20px);

  display: flex;
  justify-content: center;
  align-items: center;
}

#main-node {
  position: relative;

  animation-name: opening-main-node;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

#changing-title {
  animation-name: changing-title;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 2;
}

@keyframes opening-main-node {
  from {
    opacity: 0;
    left: -100px;
  }

  to {
    opacity: 1;
    left: 0;
  }
}

@keyframes changing-title {
  0% {
    font-family: "LINE Seed JP", sans-serif;
    font-size: 1.9rem;
  }
  12.5% {
    font-family: "Outfit", sans-serif;
    font-size: 2rem;
  }
  25% {
    font-family: "Indie Flower", sans-serif;
  }
  37.5% {
    font-family: "Urbanist", sans-serif;
  }
  50% {
    font-family: "Roboto Mono", sans-serif;
  }
  62.5% {
    font-family: "Momo Signature", sans-serif;
  }
  75% {
    font-family: "Raleway", sans-serif;
  }
  87.5% {
    font-family: "Google Sans Flex", sans-serif;
  }
  100% {
  }
}

.node {
  padding: 50px;
  max-width: 500px;
  min-width: min(100dvw, 400px);

  border: 10px solid black;
  border-radius: 20px;

  background-color: var(--bg-node);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
