:root {
  --background-blue: #ddfafe;
  --background-pink: #feedff;
}

body {
  height: 100dvh;
  margin: 0;

  background-image: linear-gradient(160deg, var(--background-blue) 0%, var(--background-pink) 33%, var(--background-blue) 67%, var(--background-pink) 100%);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  text-align: center;
}
