body {
  height: 100dvh;
  margin: 0;

  background-color: bisque;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: max-content;
  padding: 10px;

  background-color: blanchedalmond;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  text-align: center;
}
