* {
  box-sizing: border-box;
  user-select: none;
  /* pointer-events: none; */
}

body {
  min-height: 100vh;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
  position: relative;
  width: 500px;
  height: 500px;
  border: 1px dashed;
  overflow: hidden;
}

.foreground {
  z-index: 2;
}

.midground {
  z-index: 1;
}

.background {
  z-index: 0;
}

.can {
  /* border: 1px solid black; */
  position: absolute;
  width: 175px;
  height: 250px;
  /* background-color: red; */

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.can-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: inset 20px -5px 50px rgba(0, 0, 0, 0.3);
}

.can > * {
  flex-shrink: 0;
}

.right-can {
  bottom: 0;
  right: 10px;
}

.left-can {
  bottom: 0;
  right: 125px;
}

.can-lid {
  position: relative;
  width: 100%;
  height: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: rgb(226, 226, 0);
}

.can-top-label {
  position: relative;
  flex-basis: 0;
  flex-grow: 7;
  flex-shrink: 0;

  background-color: yellow;

  display: flex;
  justify-content: center;
  align-items: center;
}

.can-top-label-big {
  font-size: 2rem;
}

.can-top-label-small {
  position: absolute;
  bottom: 5px;
  font-size: 0.9rem;
}

.can-bottom-label {
  padding: 5px;
  flex-basis: 0;
  flex-grow: 4;
  font-size: 0.6rem;
  
  background-color: red;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.can-bottom-label * {
  text-align: center;
}

.can-bottom-label-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.can-bottom-label-1, .can-bottom-label-3 {
  color: white;
}
.can-bottom-label-2 {
  color: yellow;
}

.left-can .can-top-label, .left-can .can-bottom-label {
  transform: translateX(-49px);
}

.can-rim {
  height: 5px;
  background-color: silver;
}

.can-right-shadow {
  position: absolute;
  width: 175px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.3);
  transform: rotate(20deg) translate(335px, 175px);
  pointer-events: none;
}

.cup {
  position: absolute;
  height: 60px;
  width: 60px;
  background-color: blue;

  display: flex;
  flex-direction: column;
}

.cup-stripe {
  flex-grow: 1;
}

.cup-stripe:nth-child(2n) {
  background-color: white;
}
.cup-stripe:nth-child(2n + 1) {
  background-color: blue;
}

.cup-triangle {
  position: absolute;
  height: 100%;
  width: 75%;
  top: 0;
  left: 0;
  clip-path: polygon(0 0, 0 100%, 100% 50%);
  background-color: red;
}

.cup-star {
  position: absolute;
  left: 20%;
  top: 35%;
  width: 30%;
  height: 30%;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    85% 100%,
    50% 70%,
    15% 100%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  background-color: white;
}

.cup-bottom {
  z-index: 3;
  bottom: 0;
  right: 195px;
}

.cup-middle {
  bottom: 60px;
  right: 195px;

  transform: rotateZ(7deg) translateY(5px);
}

.cup-top {
  bottom: 250px;
  right: 50px;
}

.kettle {
  position: absolute;
  left: 10px;
  bottom: 0;
  width: 175px;
  height: 300px;
  /* background-color: orangered; */

  display: flex;
  flex-direction: column;
}

.kettle-handle {
  position: absolute;
  z-index: 1;
  height: 30px;
  width: 30px;
  top: -25px;
  left: calc(50% - 15px);
  clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
  background-color: black;
}

.kettle-top {
  flex-grow: 11;
  background-color: orangered;
  clip-path: polygon(50% 0%, 100% 13%, 90% 100%, 10% 100%, 0 13%);

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.kettle-top-lid {
  background-color: rgb(255, 102, 0);
  flex-grow: 2;
}

.kettle-top-body {
  /* box-shadow: inset 15px 0 40px rgba(0, 0, 0, 0.3); */
  flex-grow: 11;

  display: flex;
}

.kettle-top-body-1,
.kettle-top-body-2,
.kettle-top-body-3 {
  flex-grow: 1;
}

.kettle-top-body-1 {
  background-color: rgb(223, 59, 0);
}

.kettle-top-body-2 {
  background-color: orangered;
}

.kettle-top-body-3 {
  background-color: rgb(255, 100, 43);
}

.kettle-base {
  flex-grow: 9;
  background-color: silver;
  clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);
}

.kettle-base-gradient {
  height: 100%;
  width: 100%;
  background-image: radial-gradient(
    circle at left 10% bottom 10%,
    rgba(105, 105, 105, 1) 0%,
    rgba(224, 224, 224, 1) 100%
  );
}

.vanish {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.right-can-whole, .left-can-whole, .kettle-whole, .cup-top-whole, .cup-middle-whole, .cup-bottom-whole {
  position: absolute;
  z-index: 3; /* just so there's no problems with hovering */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.right-can-whole > .vanish, .left-can-whole > .vanish, .kettle-whole > .vanish, .cup-top-whole > .vanish, .cup-middle-whole > .vanish, .cup-bottom-whole > .vanish {
  visibility: visible;
}

.right-can-whole:hover > .vanish, .left-can-whole:hover > .vanish, .kettle-whole:hover > .vanish, .cup-top-whole:hover > .vanish, .cup-middle-whole:hover > .vanish, .cup-bottom-whole:hover > .vanish {
  visibility: hidden;
}

.right-can-whole > .vanish, .left-can-whole > .vanish {
  background-color: yellow;
}
.kettle-whole > .vanish {
  background-color: orangered;
}
.cup-top-whole > .vanish, .cup-middle-whole > .vanish, .cup-bottom-whole > .vanish {
  background-color: blue;
}